// _project.scss - Version responsive
#projects {
  padding: 3rem 13rem;
  background-color: transparent;

  .box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    // gap: 2rem;
    justify-items: center;
  }

  .projects__image-container {
    width: 50%;
    display: flex;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 16px 0 16px 0;
    overflow: hidden;

    &:hover {
      transform: scale(1.05);
      transition: transform 0.3s ease;
    }
  }

  @media (max-width: 1200px) {
    padding: 2.5rem 8rem;
  }

  @media (max-width: 900px) {
    padding: 2rem 2rem;
  }

  @media (max-width: 480px) {
    padding: 1.5rem 1rem;
  }
}

#title {
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 2rem;
  letter-spacing: 1px;
}

.box {
  background-color: transparent;
  font-size: 1.15rem;
  line-height: 1.8;
  font-family: var(--montserrat-medium, 'Montserrat-Medium');
  text-align: justify;
  color: #e0e6f7;

}