.btn-send {
  background-color: white; /* fond blanc */
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  cursor: pointer;
  width: 100%;
  text-align: center;
  margin: 2rem 0;
}

.btn-text {
  background: linear-gradient(90deg, #8b1e67, #020a7a);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-size: 1.2rem;
  font-weight: 900;
}
